@charset "UTF-8";
.detail-function {
    background-color: #426ef4;
    border: 1px solid #426ef4;
    border-radius: 20px;
    color: #fff;
    padding: 1px 7px;
    margin: 0 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 250px;
    overflow: hidden;
}

.fixed-value {
    background-color: #009e14;
    border: 1px solid #009e14;
    border-radius: 20px;
    color: #fff;
    padding: 1px 7px;
    margin: 0 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 250px;
    overflow: hidden;
}

.alert-value {
    background-color: #c11;
    border: 1px solid #c11;
    border-radius: 20px;
    color: #fff;
    padding: 1px 7px;
    margin: 0 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 250px;
    overflow: hidden;
}

.answer-value {
    background-color: #fcc;
    border: 1px solid #f7024b;
    border-radius: 20px;
    color: #f7024b;
    padding: 1px 7px;
    margin: 0 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 250px;
    overflow: hidden;
}

.validation-detail {
    background-color: #009e14;
    border: 1px solid #009e14;
    border-radius: 20px;
    color: #fff;
    padding: 1px 7px;
    margin: 0 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 250px;
    overflow: hidden;
}

/* Adjust style (=XML)
---------------------------------------------*/
/* Key Color Scheme */
/* Buttons */
/*
# Mixin
*/
.parsley-errors-list {
    display: none;
}

.tooltipster-base {
    pointer-events: auto;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border,
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
    border-top-color: #000;
}

.tooltipster-sidetip .tooltipster-box {
    background: #000;
    border: none;
    border-radius: 0;
}

.tooltip-wrapper .tooltip-close {
    display: none;
}

.tooltipster-sidetip .tooltipster-content {
    padding: 5px 14px 6px 14px;
}

.question strong, .finisher strong {
    font-style: inherit;
    font-weight: bold;
}
.question em, .finisher em {
    font-family: 'Times New Roman','ヒラギノ明朝 Pro W6', 'Hiragino Mincho Pro', 'ＭＳ Ｐゴシック', serif;
    font-style: italic;
    font-weight: inherit;
}
.question .notice, .finisher .notice {
    font-weight: normal;
}

.formErrorMsg.formErrorContent {
    color: #fff;
    padding: 0.5em;
    box-sizing: border-box;
}

.question-form-list input.additionalInput {
    width: 20em;
}
.question-form-list input.number {
    width: 3em;
}

.question-form-grid-table .personalInfo-label {
    box-sizing: border-box;
}

.matrix.question-form-grid-table .err {
    background-color: #ffe4c4;
}
.matrix.question-form-grid-table td input.number {
    width: 3em;
}
.matrix.question-form-grid-table td label {
    white-space: nowrap;
}
.matrix.question-form-grid-table td label > input {
    margin: 0 5px;
}
.matrix.question-form-grid-table td label > span {
    margin: 0 5px 0 0;
}

.question-description table {
    border-collapse: collapse;
}
.question-description table td, .question-description table th {
    padding: 1px 3px;
    border: 1px solid #888;
}

.page-no {
    position: absolute;
    right: 0;
    top: 0;
    background: #f9f3e0;
    border-left: 1px solid gold;
    border-bottom: 1px solid gold;
    border-radius: 0 4px 0 4px;
    padding: 0 10px;
    z-index: 1;
}

.branch-no {
    position: absolute;
    right: 0;
    top: 0;
    background: #e7e1f9;
    border-left: 1px solid purple;
    border-bottom: 1px solid purple;
    border-radius: 0 4px 0 4px;
    padding: 0 10px;
    z-index: 1;
}

.finisher-no {
    position: absolute;
    right: 0;
    top: 0;
    background: #e6f6d7;
    border-left: 1px solid green;
    border-bottom: 1px solid green;
    border-radius: 0 4px 0 4px;
    padding: 0 10px;
    z-index: 1;
}

.hidden {
    display: none;
}

/* フォーム　エラー表示　SP */
.m3-enquete__user-agent-group--SP .questionBox .question .matrix .formErrorContent {
    width: calc(100% - 8px);
    text-align: center;
}
.m3-enquete__user-agent-group--SP .questionBox .question .formErrorContent {
    width: calc(100% - 8px);
}
.m3-enquete__user-agent-group--SP .fixed > .formErrorContent {
    margin: 4px;
    font-size: 11px !important;
    line-height: 1.3;
    text-align: left;
    border-radius: 0 !important;
}

.questionBox .question select {
    display: block;
    height: 26px;
    min-height: 1.2em;
    padding: 0px 20px 1px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #666;
    font-weight: normal;
    font-size: 1rem;
    white-space: pre;
}

img.popup {
    cursor: pointer;
}
img.popup.err {
    border: 2px solid #bf0303;
}

/* Adjust style (=XML)
---------------------------------------------*/
.m3-enquete__user-agent-group--PC {
    background-color: #f6f6f6;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", sans-serif;
}

#content {
    max-width: 950px;
    margin: 10px auto;
    padding: 9px;
    border: 1px solid #dedede;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#content h1, #content h2 {
    margin: 20px 0 0 0;
    padding: 0;
}
#content h1 {
    line-height: 1.5;
    margin: 0 -9px;
    padding: 0 10px 8px;
    border-bottom: 1px solid #dedede;
    font-size: 1.2rem;
}
#content h2 {
    line-height: 1.5;
    margin-bottom: 8px;
    padding-left: 8px;
    border-left: 5px solid #40509e;
    font-weight: normal;
    font-size: 1rem;
}
#content h2 p {
    margin: 0;
}
#content h3 {
    margin: 0;
    font-weight: normal;
    font-size: 1rem;
}
#content select,
#content textarea,
#content input[type="text"],
#content input[type="password"],
#content input[type="datetime"],
#content input[type="datetime-local"],
#content input[type="date"],
#content input[type="month"],
#content input[type="time"],
#content input[type="week"],
#content input[type="number"],
#content input[type="email"],
#content input[type="url"],
#content input[type="search"],
#content input[type="tel"],
#content input[type="color"] {
    font-size: 1rem;
}
#content label {
    cursor: pointer;
}
#content input[type=radio] {
    display: inline-block;
    margin-right: 6px;
}
#content input[type=radio] + span {
    position: relative;
    display: inline-block;
    margin-right: 12px;
    cursor: pointer;
}
#content input[type=radio][disabled] + span {
    color: #ccc;
    pointer-events: none;
    cursor: not-allowed;
}
@media (min-width: 1px) {
    #content input[type=radio] {
        position: absolute;
        opacity: 0;
        margin: 0;
    }
    #content input[type=radio] + span {
        padding: 0 0 0 28px;
    }
    #content input[type=radio] + span::before {
        content: "";
        position: absolute;
        top: 8px;
        left: 2px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        border: 1px solid #777;
        border-radius: 30px;
        width: 22px;
        height: 22px;
        margin-top: -9px;
        background-color: #fff;
    }
    #content input[type=radio]:focus + span::before {
        outline: thin dotted black;
    }
    #content input[type=radio]:active + span::before {
        outline: thin dotted black;
    }
    #content input[type=radio][disabled] + span::before {
        background-color: #e5e5e5;
        border-color: #ccc;
        color: #fff;
        pointer-events: none;
        cursor: not-allowed;
    }
    #content input[type=radio]:checked + span::after {
        content: "";
        position: absolute;
        top: 8px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        left: 7px;
        width: 12px;
        height: 12px;
        margin-top: -4px;
        background: #778cc6;
        border-radius: 12px;
    }
}
#content input[type=checkbox] {
    display: inline-block;
    margin-right: 6px;
}
#content input[type=checkbox] + span {
    position: relative;
    display: inline-block;
    margin-right: 12px;
    cursor: pointer;
}
#content input[type=checkbox][disabled] + span {
    color: #ccc;
    pointer-events: none;
    cursor: not-allowed;
}
@media (min-width: 1px) {
    #content input[type=checkbox] {
        position: absolute;
        opacity: 0;
        margin: 0;
    }
    #content input[type=checkbox] + span {
        padding: 0 0 0 28px;
    }
    #content input[type=checkbox] + span::before {
        content: "";
        position: absolute;
        top: 8px;
        left: 2px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        border: 1px solid #777;
        width: 22px;
        height: 22px;
        margin-top: -9px;
        background-color: #fff;
    }
    #content input[type=checkbox]:focus + span::before {
        outline: thin dotted black;
    }
    #content input[type=checkbox]:active + span::before {
        outline: thin dotted black;
    }
    #content input[type=checkbox][disabled] + span::before {
        background-color: #e5e5e5;
        border-color: #ccc;
        color: #fff;
        pointer-events: none;
        cursor: not-allowed;
    }
    #content input[type=checkbox]:checked + span::after {
        content: "";
        position: absolute;
        top: 8px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        left: 7px;
        width: 12px;
        height: 8px;
        margin-top: -4px;
        border-left: 3px solid #778cc6;
        border-bottom: 3px solid #778cc6;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}
#content input[type=text] {
    margin-top: -2px;
    padding: 3px;
    border: 1px solid #9ac;
    border-radius: 4px;
    font-size: 1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#content input[type=text].disabled {
    background-color: #e5e5e5;
    border-color: #ccc;
    color: #fff;
}
#content table {
    width: 100%;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    background-color: #fff;
    color: #333;
    font-size: 0.875rem;
}
#content table td {
    vertical-align: middle;
    text-align: center;
    border: 1px solid #bbb;
    padding: 0.6em;
}
#content tbody tr:nth-child(even) {
    background-color: #fff;
}
#content tbody tr:nth-child(odd) {
    background-color: #f7f7f7;
}
#content table > tbody > tr:hover > td {
    background-color: #ecf3ff !important;
}
#content .PersonalInfoQuestion table td {
    text-align: left;
}

/* Item */
.CheckboxQuestion,
.RadioQuestion,
.SelectQuestion,
.MultiNumberQuestion,
.SingleTextQuestion {
    margin: 0 0 20px;
    padding: 0 3px;
}

.SingleTextQuestion input[type="text"] {
    width: 20em;
}

.multiNumberAssociated input[type="text"] {
    width: 3em;
}

.TextQuestion textarea {
    width: 98%;
    line-height: 1.2;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#content .MatrixQuestion input[type=radio] + span.check-not-text,
#content .ScheduleQuestion input[type=radio] + span.check-not-text {
    margin-right: 0;
}
@media (min-width: 1px) {
    #content .MatrixQuestion input[type=radio] + span.check-not-text,
    #content .ScheduleQuestion input[type=radio] + span.check-not-text {
        padding: 0 0 0 24px;
    }
    #content .MatrixQuestion input[type=radio] + span.check-not-text::before,
    #content .ScheduleQuestion input[type=radio] + span.check-not-text::before {
        top: -6px;
        left: 2px;
    }
    #content .MatrixQuestion input[type=radio]:checked + span.check-not-text::after,
    #content .ScheduleQuestion input[type=radio]:checked + span.check-not-text::after {
        top: -6px;
    }
}
#content .MatrixQuestion input[type=checkbox] + span.check-not-text,
#content .ScheduleQuestion input[type=checkbox] + span.check-not-text {
    margin-right: 0;
}
@media (min-width: 1px) {
    #content .MatrixQuestion input[type=checkbox] + span.check-not-text,
    #content .ScheduleQuestion input[type=checkbox] + span.check-not-text {
        padding: 0 0 0 24px;
    }
    #content .MatrixQuestion input[type=checkbox] + span.check-not-text::before,
    #content .ScheduleQuestion input[type=checkbox] + span.check-not-text::before {
        top: -6px;
    }
    #content .MatrixQuestion input[type=checkbox]:checked + span.check-not-text::after,
    #content .ScheduleQuestion input[type=checkbox]:checked + span.check-not-text::after {
        top: -6px;
    }
}

/* Item parts */
.checkbox {
    margin: 0;
    padding-left: 0;
}

.question {
    padding: 0 3px;
}

.question-form-list {
    list-style: none;
}

.question-form-list-label,
.questionsBox .questionBox .multiNumberLine {
    display: block;
    position: relative;
    margin-bottom: 5px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #f7f8fb;
    font-size: 0.875rem;
}
.question-form-list-label:hover,
.questionsBox .questionBox .multiNumberLine:hover {
    background: #ecf3ff;
}
.question-form-list-label:active,
.questionsBox .questionBox .multiNumberLine:active {
    background: #ecf3ff;
}

.questionsBox .questionBox .multiNumberLabel {
    display: inline-block;
    width: 60%;
    vertical-align: middle;
}

.questionsBox .questionBox .multiNumberLabel,
.questionsBox .questionBox .multiNumberInput,
.questionsBox .questionBox .multiNumberAssociated,
.questionsBox .questionBox .multiNumberUnit {
    vertical-align: middle;
    word-wrap: break-word;
}

.questionsBox .questionBox .multiNumberAssociated {
    display: inline-block;
}

/* Button */
.questionsEditBox .formButtons {
    margin-top: 1em;
    text-align: center;
}
.questionsEditBox .formButtons button {
    display: inline-block;
    padding: 8px 14px;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    font-size: 0.9375rem;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", sans-serif;
    line-height: 1.5;
    white-space: nowrap;
    -webkit-transition: background 0.2s ease 0.1s;
    -moz-transition: background 0.2s ease 0.1s;
    -ms-transition: background 0.2s ease 0.1s;
    transition: background 0.2s ease 0.1s;
    color: #ffffff;
    background-color: #40509e;
    border: 1px solid transparent;
    border-bottom: 3px solid #2a3468;
    -webkit-appearance: button;
    cursor: pointer;
}
.questionsEditBox .formButtons button:visited {
    color: #ffffff;
}
.questionsEditBox .formButtons button:hover {
    background-color: #4759b0;
    border-bottom: 3px solid #313e7a;
    text-decoration: none;
}
.questionsEditBox .formButtons button:active {
    margin-top: 3px;
    border-bottom: none;
}

/* SP */
.m3-enquete__user-agent-group--SP #content {
    margin: 10px auto;
    padding: 0;
    border: none;
}
.m3-enquete__user-agent-group--SP #content input[type=text] {
    display: inline-block;
    width: 100%;
    margin-top: 8px;
}
.m3-enquete__user-agent-group--SP #content input[type=text].number {
    width: 3em;
    margin-top: auto;
}
.m3-enquete__user-agent-group--SP #content input[type=text].sdj-numeric {
    width: 3em;
    margin-top: auto;
}
.m3-enquete__user-agent-group--SP #content .personalInfo input[type=checkbox] + span {
    display: block;
    margin-top: 5px;
}
