@import 'common';
@import 'mixin';

.parsley-errors-list {
  display: none;
}
.tooltipster-base {
  pointer-events: auto;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border,
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
    border-top-color: #000;
}

.tooltipster-sidetip .tooltipster-box {
    background: #000;
    border: none;
    border-radius: 0;
}

.tooltip-wrapper .tooltip-close {
    display: none;
}
.tooltipster-sidetip .tooltipster-content {
    padding: 5px 14px 6px 14px;
}

.question, .finisher {
  strong {
    font-style: inherit;
    font-weight: bold;
  }
  em {
    font-family: 'Times New Roman','ヒラギノ明朝 Pro W6', 'Hiragino Mincho Pro', 'ＭＳ Ｐゴシック', serif;
    font-style: italic;
    font-weight: inherit;
  }
  .notice {
    font-weight: normal;
  }

}
.formErrorMsg.formErrorContent {
  color: #fff;
  padding: 0.5em;
  box-sizing: border-box;
}

.question-form-list {
  input.additionalInput {
    width: 20em;
  }
  input.number {
    width: $number-input-width;
  }
}

.question-form-grid-table .personalInfo-label {
  box-sizing: border-box;
}

.matrix.question-form-grid-table {
  .err {
    background-color: #ffe4c4;
  }
  td {
    input.number {
      width: $number-input-width;
    }
    label {
      white-space: nowrap;
      > input {
        margin: 0 5px;
      }
      > span {
        margin: 0 5px 0 0;
      }
    }
  }
}

.question-description {
  table {
    border-collapse: collapse;
    td, th {
      padding: 1px 3px;
      border: 1px solid #888;
    }
  }
}

.page-no {
  @include no($backgroud-color-page, $border-color-page);
}
.branch-no {
  @include no($backgroud-color-branch, $border-color-branch);
}
.finisher-no {
  @include no($backgroud-color-finisher, $border-color-finisher);
}

.hidden {
  display: none;
}
/* フォーム　エラー表示　SP */

$form-error-content-margin: 4px;
$form-error-content-margin-total: $form-error-content-margin * 2;

.m3-enquete__user-agent-group--SP {
  .questionBox {
    .question {
      .matrix {
        .formErrorContent {
          width: calc(100% - #{$form-error-content-margin-total});
          text-align: center;
        }
      }
      .formErrorContent {
        width: calc(100% - #{$form-error-content-margin-total});
      }
    }
  }
  .fixed {

    >.formErrorContent {
      margin: $form-error-content-margin;
      font-size: 11px !important;
      line-height: 1.3;
      text-align: left;
      border-radius: 0 !important;
    }
  }
}

.questionBox .question select {
  display: block;
  height: 26px;
  min-height: 1.2em;
  padding: 0px 20px 1px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #666;
  font-weight: normal;
  font-size: rem-calc(16);
  white-space: pre;
}

img.popup {
  cursor: pointer;
  &.err {
    border: 2px solid #bf0303;
  }
}

/* Adjust style (=XML)
---------------------------------------------*/
.m3-enquete__user-agent-group--PC {
  background-color: #f6f6f6;
  font-family: $base-font;
}

#content {
  max-width: 950px;
  margin: 10px auto;
  padding: 9px;
  border: 1px solid #dedede;
  background-color: #fff;
  @include box-sizing(border-box);
  h1,h2 {
  margin: 20px 0 0 0;
  padding: 0;
  }
  h1 {
  line-height: $base-line-height;
  margin:0 -9px;
  padding: 0 10px 8px;
  border-bottom: 1px solid #dedede;
  font-size: rem-calc(19.2);
  }
  h2 {
  line-height: $base-line-height;
  margin-bottom: 8px;
  padding-left: 8px;
  border-left: 5px solid #40509e;
  font-weight: normal;
  font-size: rem-calc(16);
    p {
      margin: 0;
    }
  }
  h3 {
  margin: 0;
  font-weight: normal;
  font-size: rem-calc(16);
  }
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"] {
    font-size: rem-calc(16);
  }
  label {
    cursor: pointer;
  }
  input[type=radio] {
    display: inline-block;
    margin-right: 6px;
    & + span {
      position: relative;
      display: inline-block;
      margin-right: 12px;
      cursor: pointer;
    }
    &[disabled] + span {
      color: #ccc;
      pointer-events: none;
      cursor: not-allowed;
    }
  }
  @media (min-width: 1px) {
    input[type=radio] {
      position: absolute;
      opacity: 0;
      margin: 0;
      & + span {
        padding: 0 0 0 28px;
      }
      & + span::before {
        content: "";
        position: absolute;
        top: 8px;
        left: 2px;
        @include box-sizing(border-box);
        display: block;
        border: 1px solid #777;
        border-radius: 30px;
        width: 22px;
        height: 22px;
        margin-top: -9px;
        background-color: #fff;
      }
      &:focus + span::before {
        outline: thin dotted black;
      }
      &:active + span::before {
        outline: thin dotted black;
      }
      &[disabled] + span::before {
        background-color: #e5e5e5;
        border-color: #ccc;
        color: #fff;
        pointer-events: none;
        cursor: not-allowed;
      }
      &:checked + span::after {
        content: "";
        position: absolute;
        top: 8px;
        @include box-sizing(border-box);
        display: block;
        left: 7px;
        width: 12px;
        height: 12px;
        margin-top: -4px;
        background: #778cc6;
        border-radius: 12px;
      }
    }
  }
  input[type=checkbox] {
    display: inline-block;
    margin-right: 6px;
    & + span {
      position: relative;
      display: inline-block;
      margin-right: 12px;
      cursor: pointer;
    }
    &[disabled] + span {
      color: #ccc;
      pointer-events: none;
      cursor: not-allowed;
    }
  }
  @media (min-width: 1px) {
    input[type=checkbox] {
      position: absolute;
      opacity: 0;
      margin: 0;
      & + span {
        padding: 0 0 0 28px;
      }
      & + span::before {
        content: "";
        position: absolute;
        top: 8px;
        left: 2px;
        @include box-sizing(border-box);
        display: block;
        border: 1px solid #777;
        width: 22px;
        height: 22px;
        margin-top: -9px;
        background-color: #fff;
      }
      &:focus + span::before {
        outline: thin dotted black;
      }
      &:active + span::before {
        outline: thin dotted black;
      }
      &[disabled] + span::before {
        background-color: #e5e5e5;
        border-color: #ccc;
        color: #fff;
        pointer-events: none;
        cursor: not-allowed;
      }
      &:checked + span::after {
        content: "";
        position: absolute;
        top: 8px;
        @include box-sizing(border-box);
        display: block;
        left: 7px;
        width: 12px;
        height: 8px;
        margin-top: -4px;
        border-left: 3px solid #778cc6;
        border-bottom: 3px solid #778cc6;
        @include transform(rotate(-45deg));
      }
    }
  }
  input[type=text] {
    margin-top: -2px;
    padding: 3px;
    border: 1px solid #9ac;
    border-radius: $base-border-radius;
    font-size: rem-calc(16);
    @include box-sizing(border-box);
    &.disabled {
    background-color: #e5e5e5;
    border-color: #ccc;
    color: #fff;
    }
  }
  table {
    width: 100%;
    line-height: $base-line-height;
    margin-top: 0;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    background-color: #fff;
    color: $base-color;
    font-size: rem-calc(14);
  }
  table td {
    vertical-align: middle;
    text-align: center;
    border: 1px solid #bbb;
    padding: 0.6em;
  }
  tbody tr:nth-child(even) {
    background-color:#fff;
  }
  tbody tr:nth-child(odd) {
    background-color:#f7f7f7;
  }
  table > tbody > tr:hover > td {
  	background-color: #ecf3ff !important;
  }
  .PersonalInfoQuestion table td {
    text-align: left;
  }
}

/* Item */
.CheckboxQuestion,
.RadioQuestion,
.SelectQuestion,
.MultiNumberQuestion,
.SingleTextQuestion {
  margin: 0 0 20px;
  padding: 0 3px;
}

.SingleTextQuestion input[type="text"] {
  width: 20em;
}

.multiNumberAssociated input[type="text"] {
  width: $number-input-width;
}

.TextQuestion textarea {
  width: 98%;
  line-height: 1.2;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: $base-border-radius;
}

#content .MatrixQuestion,
#content .ScheduleQuestion {
  input[type=radio] {
    & + span.check-not-text {
      margin-right: 0;
    }
  }
  @media (min-width: 1px) {
    input[type=radio] {
      & + span.check-not-text {
        padding: 0 0 0 24px;
      }
      & + span.check-not-text::before {
        top: -6px;
        left: 2px;
      }
      &:checked + span.check-not-text::after {
        top: -6px;
      }
    }
  }
  input[type=checkbox] {
    & + span.check-not-text {
      margin-right: 0;
    }
  }
  @media (min-width: 1px) {
    input[type=checkbox] {
      & + span.check-not-text {
        padding: 0 0 0 24px;
      }
      & + span.check-not-text::before {
        top: -6px;
      }
      &:checked + span.check-not-text::after {
        top: -6px;
      }
    }
  }
}

/* Item parts */
.checkbox {
  margin: 0;
  padding-left: 0;
}

.question {
  padding: 0 3px;
}

.question-form-list {
  list-style: none;
}

.question-form-list-label,
.questionsBox .questionBox .multiNumberLine {
  display: block;
  position: relative;
  margin-bottom: 5px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: $base-border-radius;
  background: #f7f8fb;
  font-size: rem-calc(14);
  &:hover {
    background: #ecf3ff;
  }
  &:active {
    background: #ecf3ff;
  }
}

.questionsBox .questionBox .multiNumberLabel {
	display: inline-block;
	width: 60%;
	vertical-align: middle;
}

.questionsBox .questionBox .multiNumberLabel,
.questionsBox .questionBox .multiNumberInput,
.questionsBox .questionBox .multiNumberAssociated,
.questionsBox .questionBox .multiNumberUnit {
	vertical-align: middle;
	word-wrap: break-word;
}

.questionsBox .questionBox .multiNumberAssociated {
	display: inline-block;
}

/* Button */
.questionsEditBox .formButtons {
  margin-top: 1em;
  text-align: center;
  button {
      display: inline-block;
      padding: 8px 14px;
      border-radius: $base-border-radius;
      text-decoration: none;
      text-align: center;
      @include box-sizing(border-box);
      vertical-align: top;
      font-size: rem-calc(15);
      font-family: $base-font;
      line-height: $base-line-height;
      white-space: nowrap;
      @include transition(background .2s ease .1s);
      @include btn-style($btn-primary-color, $btn-primary-background-color, $btn-primary-shadow-color);
      -webkit-appearance: button;
      cursor: pointer;
  }
}

/* SP */
.m3-enquete__user-agent-group--SP #content {
  margin: 10px auto;
  padding: 0;
  border: none;
  input[type=text] {
    display: inline-block;
    width: 100%;
    margin-top: 8px;
    &.number{width: $number-input-width;
      margin-top: auto;
    }
    &.sdj-numeric {
      width: $number-input-width;
      margin-top: auto;
    }
  }
  .personalInfo input[type=checkbox] + span {
    display: block;
    margin-top: 5px;
  }
}
