@charset "UTF-8";
@import url(../../../node_modules/tooltipster/dist/css/tooltipster.bundle.min.css);
@import url(../../../node_modules/photoswipe/dist/photoswipe.css);
@import url(../../../node_modules/photoswipe/dist/default-skin/default-skin.css);
html, body {
  margin: 0;
  padding: 0;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", sans-serif; }

.survey-header {
  background-color: #00bcd4;
  color: #fff; }
  .survey-header .header {
    margin: auto;
    width: 1000px; }
    .survey-header .header__title {
      margin: 0;
      font-size: 1rem; }

.tooltipster-sidetip .tooltipster-box {
  background: #000;
  border: none;
  border-radius: 0; }

.tooltipster-sidetip .tooltip-wrapper .tooltip-close {
  display: none; }

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border, .tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
  border-top-color: #000; }

#content {
  width: 1000px;
  margin: auto; }
  #content #surveyBox h1 {
    color: #00bcd4;
    font-size: 1.125rem; }
  #content .questionsEditBox {
    position: relative;
    padding: 9px;
    border: 1px solid #00bcd4; }
    #content .questionsEditBox h2.question-title {
      font-size: 1rem;
      color: #00bcd4; }
    #content .questionsEditBox ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
    #content .questionsEditBox label {
      cursor: pointer; }
    #content .questionsEditBox select {
      display: block;
      height: 26px;
      min-height: 1.2em;
      font-weight: normal;
      font-size: 0.875rem;
      white-space: pre; }
    #content .questionsEditBox input[type="text"] {
      padding: 3px;
      font-size: 1rem;
      box-sizing: border-box; }
    #content .questionsEditBox input.additionalInput {
      margin-left: 5px;
      margin-right: 5px; }
    #content .questionsEditBox table {
      background-color: white; }
    #content .questionsEditBox .disabled {
      background-color: #eee !important; }
    #content .questionsEditBox .additionalInput.number {
      width: 4em; }
    #content .questionsEditBox .parsley-errors-list {
      display: none; }
    #content .questionsEditBox .formButtons {
      background-color: #fff;
      color: #000;
      text-align: center; }
      #content .questionsEditBox .formButtons .next-page {
        background-color: #00bcd4;
        border: none;
        border-radius: 4px;
        color: white;
        padding: 5px 20px;
        margin: 0 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px; }
    #content .questionsEditBox .ChoiceQuestionBase .question-form-list-label {
      display: block;
      position: relative;
      margin-bottom: 5px;
      padding: 6px;
      border: 1px solid #ccc;
      background: #fafefe;
      font-size: 0.875rem; }
      #content .questionsEditBox .ChoiceQuestionBase .question-form-list-label:hover {
        background-color: #e4f8fb; }
    #content .questionsEditBox .ChoiceQuestionBase .err .question-form-list-label {
      background-color: #fcc; }
    #content .questionsEditBox .ChoiceQuestionBase input[type=checkbox] {
      position: absolute;
      opacity: 0;
      margin: 0; }
      #content .questionsEditBox .ChoiceQuestionBase input[type=checkbox] ~ span.select-tool {
        padding: 0 0 0 28px;
        position: relative;
        display: inline-block;
        cursor: pointer; }
        #content .questionsEditBox .ChoiceQuestionBase input[type=checkbox] ~ span.select-tool::before {
          content: "";
          position: absolute;
          top: 8px;
          left: 2px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          display: block;
          border: 1px solid #777;
          border-radius: 0;
          width: 22px;
          height: 22px;
          margin-top: -9px;
          background-color: #fff; }
      #content .questionsEditBox .ChoiceQuestionBase input[type=checkbox].disabled ~ span.select-tool::before {
        background-color: #eee; }
      #content .questionsEditBox .ChoiceQuestionBase input[type=checkbox].disabled ~ span.select-tool::after {
        background-color: #ccc !important; }
      #content .questionsEditBox .ChoiceQuestionBase input[type=checkbox]:checked ~ span.select-tool::after {
        content: "";
        position: absolute;
        top: 8px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        left: 7px;
        width: 12px;
        height: 8px;
        margin-top: -4px;
        border-left: 3px solid #00bcd4;
        border-bottom: 3px solid #00bcd4;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
    #content .questionsEditBox .ChoiceQuestionBase input[type=text].err {
      background-color: #fcc; }
    #content .questionsEditBox .ChoiceQuestionBase .err .question-form-list-label {
      background-color: #fcc; }
    #content .questionsEditBox .ChoiceQuestionBase input[type=radio] {
      position: absolute;
      opacity: 0;
      margin: 0; }
      #content .questionsEditBox .ChoiceQuestionBase input[type=radio] ~ span.select-tool {
        padding: 0 0 0 28px;
        position: relative;
        display: inline-block;
        cursor: pointer; }
        #content .questionsEditBox .ChoiceQuestionBase input[type=radio] ~ span.select-tool::before {
          content: "";
          position: absolute;
          top: 8px;
          left: 2px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          display: block;
          border: 1px solid #777;
          border-radius: 30px;
          width: 22px;
          height: 22px;
          margin-top: -9px;
          background-color: #fff; }
      #content .questionsEditBox .ChoiceQuestionBase input[type=radio].disabled ~ span.select-tool::before {
        background-color: #eee; }
      #content .questionsEditBox .ChoiceQuestionBase input[type=radio].disabled ~ span.select-tool::after {
        background-color: #ccc !important; }
      #content .questionsEditBox .ChoiceQuestionBase input[type=radio]:checked ~ span.select-tool::after {
        content: "";
        position: absolute;
        top: 8px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        left: 7px;
        width: 12px;
        height: 12px;
        margin-top: -4px;
        background: #00bcd4;
        border-radius: 12px; }
    #content .questionsEditBox .ChoiceQuestionBase input[type=text].err {
      background-color: #fcc; }
    #content .questionsEditBox .MultiNumberQuestion .multiNumberLine {
      display: block;
      position: relative;
      margin-bottom: 5px;
      padding: 6px;
      border: 1px solid #ccc;
      background: #fafefe;
      font-size: 0.875rem; }
      #content .questionsEditBox .MultiNumberQuestion .multiNumberLine:hover {
        background-color: #e4f8fb; }
      #content .questionsEditBox .MultiNumberQuestion .multiNumberLine .multiNumberLabel {
        width: 40em;
        display: inline-block; }
      #content .questionsEditBox .MultiNumberQuestion .multiNumberLine .multiNumberAssociated {
        display: inline-block; }
        #content .questionsEditBox .MultiNumberQuestion .multiNumberLine .multiNumberAssociated.mini input {
          width: 4em; }
      #content .questionsEditBox .MultiNumberQuestion .multiNumberLine input[type=text].err {
        background-color: #fcc; }
    #content .questionsEditBox .SingleTextQuestion input {
      width: 20em; }
    #content .questionsEditBox .SingleTextQuestion input[type=text].err {
      background-color: #fcc; }
    #content .questionsEditBox .TextQuestion textarea {
      width: 100%;
      box-sizing: border-box; }
      #content .questionsEditBox .TextQuestion textarea .err {
        background-color: #fcc; }
    #content .questionsEditBox .MatrixQuestion table {
      width: 100%;
      line-height: 1.5;
      border-collapse: collapse;
      font-size: 0.875rem; }
      #content .questionsEditBox .MatrixQuestion table td, #content .questionsEditBox .MatrixQuestion table th {
        position: relative;
        vertical-align: middle;
        text-align: center;
        border: 1px solid #bbb;
        padding: 0.6em; }
        #content .questionsEditBox .MatrixQuestion table td label, #content .questionsEditBox .MatrixQuestion table th label {
          display: block;
          width: 100%; }
          #content .questionsEditBox .MatrixQuestion table td label input[type=checkbox], #content .questionsEditBox .MatrixQuestion table th label input[type=checkbox] {
            position: absolute;
            opacity: 0;
            margin: 0; }
            #content .questionsEditBox .MatrixQuestion table td label input[type=checkbox] ~ span.select-tool, #content .questionsEditBox .MatrixQuestion table th label input[type=checkbox] ~ span.select-tool {
              padding: 0 0 0 28px;
              position: relative;
              display: inline-block;
              cursor: pointer; }
              #content .questionsEditBox .MatrixQuestion table td label input[type=checkbox] ~ span.select-tool::before, #content .questionsEditBox .MatrixQuestion table th label input[type=checkbox] ~ span.select-tool::before {
                content: "";
                position: absolute;
                top: 8px;
                left: 2px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                display: block;
                border: 1px solid #777;
                border-radius: 0px;
                width: 22px;
                height: 22px;
                margin-top: -9px;
                background-color: #fff; }
            #content .questionsEditBox .MatrixQuestion table td label input[type=checkbox].disabled ~ span.select-tool::before, #content .questionsEditBox .MatrixQuestion table th label input[type=checkbox].disabled ~ span.select-tool::before {
              background-color: #eee; }
            #content .questionsEditBox .MatrixQuestion table td label input[type=checkbox].disabled ~ span.select-tool::after, #content .questionsEditBox .MatrixQuestion table th label input[type=checkbox].disabled ~ span.select-tool::after {
              background-color: #ccc !important; }
            #content .questionsEditBox .MatrixQuestion table td label input[type=checkbox]:checked ~ span.select-tool::after, #content .questionsEditBox .MatrixQuestion table th label input[type=checkbox]:checked ~ span.select-tool::after {
              content: "";
              position: absolute;
              top: 8px;
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
              display: block;
              left: 7px;
              width: 12px;
              height: 8px;
              margin-top: -4px;
              border-left: 3px solid #00bcd4;
              border-bottom: 3px solid #00bcd4;
              -webkit-transform: rotate(-45deg);
              -moz-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
            #content .questionsEditBox .MatrixQuestion table td label input[type=checkbox] ~ span.select-tool::before, #content .questionsEditBox .MatrixQuestion table th label input[type=checkbox] ~ span.select-tool::before {
              top: -6px; }
            #content .questionsEditBox .MatrixQuestion table td label input[type=checkbox] ~ span.select-tool::after, #content .questionsEditBox .MatrixQuestion table th label input[type=checkbox] ~ span.select-tool::after {
              top: -6px !important; }
          #content .questionsEditBox .MatrixQuestion table td label input[type=radio], #content .questionsEditBox .MatrixQuestion table th label input[type=radio] {
            position: absolute;
            opacity: 0;
            margin: 0; }
            #content .questionsEditBox .MatrixQuestion table td label input[type=radio] ~ span.select-tool, #content .questionsEditBox .MatrixQuestion table th label input[type=radio] ~ span.select-tool {
              padding: 0 0 0 28px;
              position: relative;
              display: inline-block;
              cursor: pointer; }
              #content .questionsEditBox .MatrixQuestion table td label input[type=radio] ~ span.select-tool::before, #content .questionsEditBox .MatrixQuestion table th label input[type=radio] ~ span.select-tool::before {
                content: "";
                position: absolute;
                top: 8px;
                left: 2px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                display: block;
                border: 1px solid #777;
                border-radius: 30px;
                width: 22px;
                height: 22px;
                margin-top: -9px;
                background-color: #fff; }
            #content .questionsEditBox .MatrixQuestion table td label input[type=radio].disabled ~ span.select-tool::before, #content .questionsEditBox .MatrixQuestion table th label input[type=radio].disabled ~ span.select-tool::before {
              background-color: #eee; }
            #content .questionsEditBox .MatrixQuestion table td label input[type=radio].disabled ~ span.select-tool::after, #content .questionsEditBox .MatrixQuestion table th label input[type=radio].disabled ~ span.select-tool::after {
              background-color: #ccc !important; }
            #content .questionsEditBox .MatrixQuestion table td label input[type=radio]:checked ~ span.select-tool::after, #content .questionsEditBox .MatrixQuestion table th label input[type=radio]:checked ~ span.select-tool::after {
              content: "";
              position: absolute;
              top: 8px;
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
              display: block;
              left: 7px;
              width: 12px;
              height: 12px;
              margin-top: -4px;
              background: #00bcd4;
              border-radius: 12px; }
            #content .questionsEditBox .MatrixQuestion table td label input[type=radio] ~ span.select-tool::before, #content .questionsEditBox .MatrixQuestion table th label input[type=radio] ~ span.select-tool::before {
              top: -6px; }
            #content .questionsEditBox .MatrixQuestion table td label input[type=radio] ~ span.select-tool::after, #content .questionsEditBox .MatrixQuestion table th label input[type=radio] ~ span.select-tool::after {
              top: -6px !important; }
    #content .questionsEditBox .finisher .formButtons a {
      background-color: #00bcd4;
      border: none;
      border-radius: 4px;
      color: white;
      padding: 5px 20px;
      margin: 0 5px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px; }

/*# sourceMappingURL=runtime.css.map */