.detail-function {
    background-color: #426ef4;
    border: 1px solid #426ef4;
    border-radius: 20px;
    color: #fff;
    padding: 1px 7px;
    margin: 0 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 250px;
    overflow: hidden;
}

.fixed-value {
    background-color: #009e14;
    border: 1px solid #009e14;
    border-radius: 20px;
    color: #fff;
    padding: 1px 7px;
    margin: 0 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 250px;
    overflow: hidden;
}

.alert-value {
    background-color: #c11;
    border: 1px solid #c11;
    border-radius: 20px;
    color: #fff;
    padding: 1px 7px;
    margin: 0 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 250px;
    overflow: hidden;
}

.answer-value {
    background-color: #fcc;
    border: 1px solid #f7024b;
    border-radius: 20px;
    color: #f7024b;
    padding: 1px 7px;
    margin: 0 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 250px;
    overflow: hidden;
}

.validation-detail {
    background-color: #009e14;
    border: 1px solid #009e14;
    border-radius: 20px;
    color: #fff;
    padding: 1px 7px;
    margin: 0 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 250px;
    overflow: hidden;
}
