@charset "UTF-8";
.detail-function {
    background-color: #426ef4;
    border: 1px solid #426ef4;
    border-radius: 20px;
    color: #fff;
    padding: 1px 7px;
    margin: 0 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 250px;
    overflow: hidden;
}

.fixed-value {
    background-color: #009e14;
    border: 1px solid #009e14;
    border-radius: 20px;
    color: #fff;
    padding: 1px 7px;
    margin: 0 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 250px;
    overflow: hidden;
}

.alert-value {
    background-color: #c11;
    border: 1px solid #c11;
    border-radius: 20px;
    color: #fff;
    padding: 1px 7px;
    margin: 0 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 250px;
    overflow: hidden;
}

.answer-value {
    background-color: #fcc;
    border: 1px solid #f7024b;
    border-radius: 20px;
    color: #f7024b;
    padding: 1px 7px;
    margin: 0 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 250px;
    overflow: hidden;
}

.validation-detail {
    background-color: #009e14;
    border: 1px solid #009e14;
    border-radius: 20px;
    color: #fff;
    padding: 1px 7px;
    margin: 0 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 250px;
    overflow: hidden;
}

.parsley-errors-list {
    display: none;
}

.tooltipster-base {
    pointer-events: auto;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border,
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
    border-top-color: #000;
}

.tooltipster-sidetip .tooltipster-box {
    background: #000;
    border: none;
    border-radius: 0;
}

.tooltip-wrapper .tooltip-close {
    display: none;
}

.tooltipster-sidetip .tooltipster-content {
    padding: 5px 14px 6px 14px;
}

.question strong, .finisher strong {
    font-style: inherit;
    font-weight: bold;
}
.question em, .finisher em {
    font-family: 'Times New Roman','ヒラギノ明朝 Pro W6', 'Hiragino Mincho Pro', 'ＭＳ Ｐゴシック', serif;
    font-style: italic;
    font-weight: inherit;
}
.question .notice, .finisher .notice {
    font-weight: normal;
}

.formErrorMsg.formErrorContent {
    color: #fff;
    padding: 0.5em;
    box-sizing: border-box;
}

.question-form-list input.number {
    width: 4em;
}

.question-form-grid-table .personalInfo-label {
    box-sizing: border-box;
}

.matrix.question-form-grid-table .err {
    background-color: #ffe4c4;
}
.matrix.question-form-grid-table td input.number {
    width: 4em;
}
.matrix.question-form-grid-table td label {
    white-space: nowrap;
}
.matrix.question-form-grid-table td label > input {
    margin: 0 5px;
}
.matrix.question-form-grid-table td label > span {
    margin: 0 5px 0 0;
}

.question-description table {
    border-collapse: collapse;
}
.question-description table td, .question-description table th {
    padding: 1px 3px;
    border: 1px solid #888;
}

.page-no {
    position: absolute;
    right: 0;
    top: 0;
    background: #f9f3e0;
    border-left: 1px solid gold;
    border-bottom: 1px solid gold;
    border-radius: 0 4px 0 4px;
    padding: 0 10px;
    z-index: 1;
}

.branch-no {
    position: absolute;
    right: 0;
    top: 0;
    background: #e7e1f9;
    border-left: 1px solid purple;
    border-bottom: 1px solid purple;
    border-radius: 0 4px 0 4px;
    padding: 0 10px;
    z-index: 1;
}

.finisher-no {
    position: absolute;
    right: 0;
    top: 0;
    background: #e6f6d7;
    border-left: 1px solid green;
    border-bottom: 1px solid green;
    border-radius: 0 4px 0 4px;
    padding: 0 10px;
    z-index: 1;
}

.hidden {
    display: none;
}

/* フォーム　エラー表示　SP */
.m3-enquete__user-agent-group--SP .questionBox .question .matrix .formErrorContent {
    width: calc(100% - 8px);
    text-align: center;
}
.m3-enquete__user-agent-group--SP .questionBox .question .formErrorContent {
    width: calc(100% - 8px);
}
.m3-enquete__user-agent-group--SP .questionBox .question img {
    max-width: none;
}
.m3-enquete__user-agent-group--SP .fixed > .formErrorContent {
    margin: 4px;
    font-size: 11px !important;
    line-height: 1.3;
    text-align: left;
    border-radius: 0 !important;
}

.questionBox .question select {
    display: block;
    min-width: 30%;
    max-width: 90%;
    height: 34px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #666;
}

img.popup {
    cursor: pointer;
}
img.popup.err {
    border: 2px solid #bf0303;
}
