.tooltipster-fall,.tooltipster-grow.tooltipster-show{-webkit-transition-timing-function:cubic-bezier(.175,.885,.32,1);-moz-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);-ms-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);-o-transition-timing-function:cubic-bezier(.175,.885,.32,1.15)}.tooltipster-base{display:flex;pointer-events:none;position:absolute}.tooltipster-box{flex:1 1 auto}.tooltipster-content{box-sizing:border-box;max-height:100%;max-width:100%;overflow:auto}.tooltipster-ruler{bottom:0;left:0;overflow:hidden;position:fixed;right:0;top:0;visibility:hidden}.tooltipster-fade{opacity:0;-webkit-transition-property:opacity;-moz-transition-property:opacity;-o-transition-property:opacity;-ms-transition-property:opacity;transition-property:opacity}.tooltipster-fade.tooltipster-show{opacity:1}.tooltipster-grow{-webkit-transform:scale(0,0);-moz-transform:scale(0,0);-o-transform:scale(0,0);-ms-transform:scale(0,0);transform:scale(0,0);-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform;-webkit-backface-visibility:hidden}.tooltipster-grow.tooltipster-show{-webkit-transform:scale(1,1);-moz-transform:scale(1,1);-o-transform:scale(1,1);-ms-transform:scale(1,1);transform:scale(1,1);-webkit-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);transition-timing-function:cubic-bezier(.175,.885,.32,1.15)}.tooltipster-swing{opacity:0;-webkit-transform:rotateZ(4deg);-moz-transform:rotateZ(4deg);-o-transform:rotateZ(4deg);-ms-transform:rotateZ(4deg);transform:rotateZ(4deg);-webkit-transition-property:-webkit-transform,opacity;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform}.tooltipster-swing.tooltipster-show{opacity:1;-webkit-transform:rotateZ(0);-moz-transform:rotateZ(0);-o-transform:rotateZ(0);-ms-transform:rotateZ(0);transform:rotateZ(0);-webkit-transition-timing-function:cubic-bezier(.23,.635,.495,1);-webkit-transition-timing-function:cubic-bezier(.23,.635,.495,2.4);-moz-transition-timing-function:cubic-bezier(.23,.635,.495,2.4);-ms-transition-timing-function:cubic-bezier(.23,.635,.495,2.4);-o-transition-timing-function:cubic-bezier(.23,.635,.495,2.4);transition-timing-function:cubic-bezier(.23,.635,.495,2.4)}.tooltipster-fall{-webkit-transition-property:top;-moz-transition-property:top;-o-transition-property:top;-ms-transition-property:top;transition-property:top;-webkit-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);transition-timing-function:cubic-bezier(.175,.885,.32,1.15)}.tooltipster-fall.tooltipster-initial{top:0!important}.tooltipster-fall.tooltipster-dying{-webkit-transition-property:all;-moz-transition-property:all;-o-transition-property:all;-ms-transition-property:all;transition-property:all;top:0!important;opacity:0}.tooltipster-slide{-webkit-transition-property:left;-moz-transition-property:left;-o-transition-property:left;-ms-transition-property:left;transition-property:left;-webkit-transition-timing-function:cubic-bezier(.175,.885,.32,1);-webkit-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);-moz-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);-ms-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);-o-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);transition-timing-function:cubic-bezier(.175,.885,.32,1.15)}.tooltipster-slide.tooltipster-initial{left:-40px!important}.tooltipster-slide.tooltipster-dying{-webkit-transition-property:all;-moz-transition-property:all;-o-transition-property:all;-ms-transition-property:all;transition-property:all;left:0!important;opacity:0}@keyframes tooltipster-fading{0%{opacity:0}100%{opacity:1}}.tooltipster-update-fade{animation:tooltipster-fading .4s}@keyframes tooltipster-rotating{25%{transform:rotate(-2deg)}75%{transform:rotate(2deg)}100%{transform:rotate(0)}}.tooltipster-update-rotate{animation:tooltipster-rotating .6s}@keyframes tooltipster-scaling{50%{transform:scale(1.1)}100%{transform:scale(1)}}.tooltipster-update-scale{animation:tooltipster-scaling .6s}.tooltipster-sidetip .tooltipster-box{background:#565656;border:2px solid #000;border-radius:4px}.tooltipster-sidetip.tooltipster-bottom .tooltipster-box{margin-top:8px}.tooltipster-sidetip.tooltipster-left .tooltipster-box{margin-right:8px}.tooltipster-sidetip.tooltipster-right .tooltipster-box{margin-left:8px}.tooltipster-sidetip.tooltipster-top .tooltipster-box{margin-bottom:8px}.tooltipster-sidetip .tooltipster-content{color:#fff;line-height:18px;padding:6px 14px}.tooltipster-sidetip .tooltipster-arrow{overflow:hidden;position:absolute}.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow{height:10px;margin-left:-10px;top:0;width:20px}.tooltipster-sidetip.tooltipster-left .tooltipster-arrow{height:20px;margin-top:-10px;right:0;top:0;width:10px}.tooltipster-sidetip.tooltipster-right .tooltipster-arrow{height:20px;margin-top:-10px;left:0;top:0;width:10px}.tooltipster-sidetip.tooltipster-top .tooltipster-arrow{bottom:0;height:10px;margin-left:-10px;width:20px}.tooltipster-sidetip .tooltipster-arrow-background,.tooltipster-sidetip .tooltipster-arrow-border{height:0;position:absolute;width:0}.tooltipster-sidetip .tooltipster-arrow-background{border:10px solid transparent}.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background{border-bottom-color:#565656;left:0;top:3px}.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background{border-left-color:#565656;left:-3px;top:0}.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-background{border-right-color:#565656;left:3px;top:0}.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background{border-top-color:#565656;left:0;top:-3px}.tooltipster-sidetip .tooltipster-arrow-border{border:10px solid transparent;left:0;top:0}.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border{border-bottom-color:#000}.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border{border-left-color:#000}.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border{border-right-color:#000}.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border{border-top-color:#000}.tooltipster-sidetip .tooltipster-arrow-uncropped{position:relative}.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-uncropped{top:-10px}.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-uncropped{left:-10px}@charset "UTF-8";
/** 縦書き対応 */
.vertical-writing {
  writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  height: 100px;
  word-wrap: break-word;
  vertical-align: middle;
  text-align: center;
  display: inline; }

.col-vertical-writing {
  vertical-align: middle;
  text-align: center; }

/** 縦書き対応 */
.vertical-writing {
  writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  height: 100px;
  word-wrap: break-word;
  vertical-align: middle;
  text-align: center;
  display: inline; }

.col-vertical-writing {
  vertical-align: middle;
  text-align: center; }

html, body {
  height: 100%;
  overflow: hidden;
  min-width: 800px; }
  html.mce-content-body, body.mce-content-body {
    overflow: hidden; }

#root {
  width: 100%;
  position: relative; }
  #root > div {
    height: 100%; }
    #root > div .main {
      position: relative;
      height: calc(100% - 38px); }
      #root > div .main .editor-pane {
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        min-width: 600px;
        overflow: visible; }
        #root > div .main .editor-pane .control-label {
          font-weight: bold; }
        #root > div .main .editor-pane h4.question-title {
          margin: 0;
          padding: 5px;
          background-color: #d9edf7; }
        #root > div .main .editor-pane h5 {
          padding: 4px;
          background-color: #efefef;
          margin-left: 1em;
          margin-right: 1em; }
        #root > div .main .editor-pane .form-horizontal .form-group {
          margin-left: 0;
          margin-right: 0; }
        #root > div .main .editor-pane .form-horizontal .control-label {
          font-size: 87.5%; }
        #root > div .main .editor-pane .logic-variables .add-logic-variable-button {
          margin-left: 6px; }
        #root > div .main .editor-pane .logic-variables .expression .operator {
          margin-top: 5px;
          display: inline;
          width: auto; }
        #root > div .main .editor-pane .logic-variables .expression .operand {
          display: inline;
          width: calc(100% - 50px); }
        #root > div .main .editor-pane .logic-variables .expression .delete-button {
          margin-left: 10px; }
        #root > div .main .editor-pane .logic-variables-title {
          margin: 6px 0; }
        #root > div .main .editor-pane .editor-controller {
          position: absolute;
          z-index: 100;
          right: 20px;
          top: 5px; }
        #root > div .main .editor-pane .source-editor-container {
          height: 100%; }
          #root > div .main .editor-pane .source-editor-container .source-editor {
            height: 100%; }
            #root > div .main .editor-pane .source-editor-container .source-editor .CodeMirror {
              font-family: Monaco, 'Andale Mono', 'Lucida Console', 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
              height: 100%; }
          #root > div .main .editor-pane .source-editor-container .help {
            z-index: 2;
            position: absolute;
            top: 5px;
            right: 15px; }
        #root > div .main .editor-pane .mce-content-body {
          border-top: 2px solid #aaa;
          border-left: 2px solid #aaa;
          border-bottom: 1px solid #ddd;
          border-right: 1px solid #ddd;
          padding-left: 4px; }
        #root > div .main .editor-pane > div {
          height: 100%; }
          #root > div .main .editor-pane > div .tab-content {
            height: calc(100% - 48px); }
            #root > div .main .editor-pane > div .tab-content .tab-pane {
              position: relative;
              overflow: auto;
              height: 100%; }
      #root > div .main .preview-pane {
        position: absolute;
        height: 100%;
        width: 100%;
        overflow: hidden; }
        #root > div .main .preview-pane .preview-pane-header {
          height: 25px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          border-bottom: 1px solid #ccc; }
          #root > div .main .preview-pane .preview-pane-header:empty {
            display: none; }
        #root > div .main .preview-pane > iframe {
          box-sizing: border-box;
          border: none;
          width: 100%;
          height: 100%; }
        #root > div .main .preview-pane.page > iframe {
          height: 100% !important; }
        #root > div .main .preview-pane.free-mode.page > iframe {
          height: calc(100% - 25px) !important; }
        #root > div .main .preview-pane .mce-tinymce.mce-fullscreen {
          height: 100%; }
        #root > div .main .preview-pane .mce-tinymce .mce-container-body {
          height: 100%; }
          #root > div .main .preview-pane .mce-tinymce .mce-container-body .mce-edit-area {
            height: calc(100% - 37px - 37px); }
            #root > div .main .preview-pane .mce-tinymce .mce-container-body .mce-edit-area > iframe {
              height: 100% !important;
              box-sizing: border-box;
              border: none;
              width: 100%;
              height: 100% !important; }
  #root .navbar {
    margin-bottom: 0; }

.SplitPane.vertical .Pane.vertical {
  height: 100%; }

.Pane {
  overflow: auto; }

.Pane.horizontal {
  height: 100%;
  overflow: auto; }

.Resizer {
  background: #000;
  opacity: .2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box; }
  .Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease; }
  .Resizer.horizontal {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%; }
    .Resizer.horizontal:hover {
      border-top: 5px solid rgba(0, 0, 0, 0.5);
      border-bottom: 5px solid rgba(0, 0, 0, 0.5); }
  .Resizer.vertical {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
    height: 100%; }
    .Resizer.vertical:hover {
      border-left: 5px solid rgba(0, 0, 0, 0.5);
      border-right: 5px solid rgba(0, 0, 0, 0.5); }

.question-editor {
  padding-top: 15px; }
  .question-editor:first-child {
    border-top: 0;
    padding-top: 0; }
  .question-editor .item-validator-list {
    padding: 0; }
    .question-editor .item-validator-list > li {
      display: flex; }
      .question-editor .item-validator-list > li > span:first-child {
        white-space: nowrap;
        line-height: 2; }
      .question-editor .item-validator-list > li > .form-group {
        margin-bottom: 0; }
  .question-editor:last-child {
    margin-bottom: 250px;
    /* 余白 */ }
  .question-editor .checkbox.disabled, .question-editor .checkbox-inline.disabled {
    opacity: 0.5; }
  .question-editor input.disabled {
    background-color: #eeeeee;
    cursor: not-allowed; }
  .question-editor .matrix-check-count-validation-label {
    width: 60px; }

/* HTMLのエディタ */
.html-editor {
  cursor: pointer;
  border-top: 2px solid #aaa;
  border-left: 2px solid #aaa;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding-left: 4px;
  min-height: 23px;
  overflow: auto; }
  .html-editor.disabled {
    cursor: not-allowed;
    background-color: #eeeeee; }
    .html-editor.disabled:hover {
      background-color: #eeeeee; }
  .html-editor:hover {
    background-color: #fee; }
  .html-editor table {
    border-collapse: collapse; }
    .html-editor table td, .html-editor table th {
      padding: 1px 3px;
      border: 1px solid #888; }

.html-editor-tinymce {
  overflow: auto; }

.item-editor .item-editor-table {
  width: 100%; }
  .item-editor .item-editor-table th {
    padding: 0 3px;
    white-space: nowrap;
    vertical-align: top;
    font-size: 87.5%; }
  .item-editor .item-editor-table td {
    white-space: nowrap; }
  .item-editor .item-editor-table .item-editor-row .option {
    text-align: center; }
    .item-editor .item-editor-table .item-editor-row .option .item-editor-unit {
      width: 5em; }
  .item-editor .item-editor-table .item-editor-row .item-editor-tinymce-container {
    padding-left: 5px;
    padding-right: 5px;
    width: 100%; }
  .item-editor .item-editor-table .item-editor-row .personal-item-editor-tinymce-container {
    padding-left: 5px;
    padding-right: 5px;
    width: 40%; }
  .item-editor .item-editor-table .item-editor-row .personal-item-editor-display-type {
    margin-right: 10px; }
  .item-editor .item-editor-table .item-editor-row .personal-item-editor-optional-checkbox-td {
    text-align: center; }
  .item-editor .item-editor-table .item-editor-row .buttons {
    white-space: nowrap; }
  .item-editor .item-editor-table .item-editor-row .disabled, .item-editor .item-editor-table .item-editor-row input[disabled], .item-editor .item-editor-table .item-editor-row select[disabled] {
    opacity: 0.5;
    cursor: not-allowed; }

.clickable {
  cursor: pointer; }

.icon-button {
  vertical-align: text-top;
  margin-left: 8px; }

/* フォームコンテナ */
.form-container {
  padding: 5px; }

/* コンポーネントボタン */
.component-button {
  margin-bottom: 5px; }

.fade-in, .flow-pane .page .questions .insert-item-box, .flow-pane .page .conditions .insert-item-box, .flow-pane .branch .questions .insert-item-box, .flow-pane .branch .conditions .insert-item-box, .flow-pane .finisher .questions .insert-item-box, .flow-pane .finisher .conditions .insert-item-box, .flow-pane .arrow-down .btn {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  opacity: 0; }

.fade-in--finish, .flow-pane .page .questions .insert-item-box:hover, .flow-pane .page .conditions .insert-item-box:hover, .flow-pane .branch .questions .insert-item-box:hover, .flow-pane .branch .conditions .insert-item-box:hover, .flow-pane .finisher .questions .insert-item-box:hover, .flow-pane .finisher .conditions .insert-item-box:hover, .flow-pane .arrow-down .btn:hover {
  opacity: 1; }

.flow-pane {
  padding: 10px;
  min-width: 200px; }
  .flow-pane .page, .flow-pane .branch, .flow-pane .finisher {
    position: relative;
    margin-bottom: 5px;
    width: 100%;
    animation: fadeIn .5s ease 0s 1 normal;
    -webkit-animation: fadeIn .5s ease 0s 1 normal; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
    .flow-pane .page .header, .flow-pane .branch .header, .flow-pane .finisher .header {
      position: relative;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding-right: 21px;
      overflow: hidden; }
    .flow-pane .page .questions, .flow-pane .page .conditions, .flow-pane .branch .questions, .flow-pane .branch .conditions, .flow-pane .finisher .questions, .flow-pane .finisher .conditions {
      list-style: none;
      padding-left: 1.5em; }
      .flow-pane .page .questions .question, .flow-pane .page .questions .condition, .flow-pane .page .conditions .question, .flow-pane .page .conditions .condition, .flow-pane .branch .questions .question, .flow-pane .branch .questions .condition, .flow-pane .branch .conditions .question, .flow-pane .branch .conditions .condition, .flow-pane .finisher .questions .question, .flow-pane .finisher .questions .condition, .flow-pane .finisher .conditions .question, .flow-pane .finisher .conditions .condition {
        position: relative;
        padding-right: 21px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
        .flow-pane .page .questions .question a, .flow-pane .page .questions .condition a, .flow-pane .page .conditions .question a, .flow-pane .page .conditions .condition a, .flow-pane .branch .questions .question a, .flow-pane .branch .questions .condition a, .flow-pane .branch .conditions .question a, .flow-pane .branch .conditions .condition a, .flow-pane .finisher .questions .question a, .flow-pane .finisher .questions .condition a, .flow-pane .finisher .conditions .question a, .flow-pane .finisher .conditions .condition a {
          cursor: pointer; }
      .flow-pane .page .questions .insert-item-box, .flow-pane .page .conditions .insert-item-box, .flow-pane .branch .questions .insert-item-box, .flow-pane .branch .conditions .insert-item-box, .flow-pane .finisher .questions .insert-item-box, .flow-pane .finisher .conditions .insert-item-box {
        height: 6px;
        cursor: pointer; }
        .flow-pane .page .questions .insert-item-box div, .flow-pane .page .conditions .insert-item-box div, .flow-pane .branch .questions .insert-item-box div, .flow-pane .branch .conditions .insert-item-box div, .flow-pane .finisher .questions .insert-item-box div, .flow-pane .finisher .conditions .insert-item-box div {
          position: relative;
          height: 100%; }
          .flow-pane .page .questions .insert-item-box div i, .flow-pane .page .conditions .insert-item-box div i, .flow-pane .branch .questions .insert-item-box div i, .flow-pane .branch .conditions .insert-item-box div i, .flow-pane .finisher .questions .insert-item-box div i, .flow-pane .finisher .conditions .insert-item-box div i {
            display: none;
            color: #000;
            position: absolute;
            top: -6px;
            left: -14px;
            font-size: 18px; }
        .flow-pane .page .questions .insert-item-box div:hover, .flow-pane .page .conditions .insert-item-box div:hover, .flow-pane .branch .questions .insert-item-box div:hover, .flow-pane .branch .conditions .insert-item-box div:hover, .flow-pane .finisher .questions .insert-item-box div:hover, .flow-pane .finisher .conditions .insert-item-box div:hover {
          background-color: #000; }
          .flow-pane .page .questions .insert-item-box div:hover i, .flow-pane .page .conditions .insert-item-box div:hover i, .flow-pane .branch .questions .insert-item-box div:hover i, .flow-pane .branch .conditions .insert-item-box div:hover i, .flow-pane .finisher .questions .insert-item-box div:hover i, .flow-pane .finisher .conditions .insert-item-box div:hover i {
            display: inline; }
  .flow-pane .page {
    border: 1px solid #f4d99a;
    background-color: #f9f3e0;
    transition-duration: .2s;
    transition-timing-function: ease-in-out; }
    .flow-pane .page:hover {
      border: 1px solid #f4d99a;
      box-shadow: 0 0 0 1px #f4d99a; }
    .flow-pane .page.selected {
      border: 1px solid #f4d99a;
      box-shadow: 0 0 0 1px #f4d99a;
      transition-duration: .2s;
      transition-timing-function: ease-in-out; }
      .flow-pane .page.selected:hover {
        box-shadow: 0 0 0 2px #f4d99a; }
    .flow-pane .page.free-edit {
      border: 1px solid #eb9af4;
      background-color: #ffe8e8;
      transition-duration: .2s;
      transition-timing-function: ease-in-out; }
      .flow-pane .page.free-edit:hover {
        border: 1px solid #eb9af4;
        box-shadow: 0 0 0 1px #eb9af4; }
      .flow-pane .page.free-edit.selected {
        border: 1px solid #eb9af4;
        box-shadow: 0 0 0 1px #eb9af4;
        transition-duration: .2s;
        transition-timing-function: ease-in-out; }
        .flow-pane .page.free-edit.selected:hover {
          box-shadow: 0 0 0 2px #eb9af4; }
  .flow-pane .branch {
    border: 1px solid #af9bff;
    background-color: #e7e1f9;
    transition-duration: .2s;
    transition-timing-function: ease-in-out; }
    .flow-pane .branch:hover {
      border: 1px solid #af9bff;
      box-shadow: 0 0 0 1px #af9bff; }
    .flow-pane .branch.selected {
      border: 1px solid #af9bff;
      box-shadow: 0 0 0 1px #af9bff;
      transition-duration: .2s;
      transition-timing-function: ease-in-out; }
      .flow-pane .branch.selected:hover {
        box-shadow: 0 0 0 2px #af9bff; }
  .flow-pane .finisher {
    border: 1px solid #a0db8e;
    background-color: #e6f6d7;
    transition-duration: .2s;
    transition-timing-function: ease-in-out; }
    .flow-pane .finisher:hover {
      border: 1px solid #a0db8e;
      box-shadow: 0 0 0 1px #a0db8e; }
    .flow-pane .finisher.selected {
      border: 1px solid #a0db8e;
      box-shadow: 0 0 0 1px #a0db8e;
      transition-duration: .2s;
      transition-timing-function: ease-in-out; }
      .flow-pane .finisher.selected:hover {
        box-shadow: 0 0 0 2px #a0db8e; }
  .flow-pane .arrow-down {
    position: relative;
    text-align: center;
    font-size: large;
    border: dashed 2px #dfdfdf;
    margin-bottom: 2px;
    margin: 6px 0; }
    .flow-pane .arrow-down .btn {
      position: absolute;
      top: 0;
      left: 0;
      display: none; }
    .flow-pane .arrow-down:hover .btn {
      display: block;
      width: 100%;
      padding: 5px 0 4px 0;
      border: none;
      background-color: #000; }

/* フロー */
.flow {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative; }
  .flow .flow-controller {
    position: absolute;
    z-index: 100;
    right: 5px;
    top: 5px; }
    .flow .flow-controller input[type="file"] {
      display: none; }
  .flow.connect-mode {
    background-color: #eef; }

/* ブランチエディタ */
.branch-editor-container .branch-editor .branch-editor-header, .branch-editor-container .branch-editor .condition-editor {
  display: flex;
  flex-direction: row;
  width: 700px;
  align-items: center; }
  .branch-editor-container .branch-editor .branch-editor-header > span, .branch-editor-container .branch-editor .condition-editor > span {
    padding: 5px; }
  .branch-editor-container .branch-editor .branch-editor-header > input, .branch-editor-container .branch-editor .condition-editor > input {
    width: 100px; }
  .branch-editor-container .branch-editor .branch-editor-header > select, .branch-editor-container .branch-editor .condition-editor > select {
    max-width: 150px;
    width: auto; }

.branch-editor-container .branch-next-node-id {
  display: inline;
  width: auto;
  margin: 0 5px; }

/* コンディションエディタ */
.condition-editor {
  margin: 0.5em 0 0 0; }

/* 追加、削除のボタンコンテナ */
.item-controller {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 5px;
  padding-left: 5px; }

/* ドラッグのハンドラ */
.drag-handler {
  cursor: move; }

/* 削除ボタン */
.delete-button {
  cursor: pointer; }

/* ナビゲーションバー */
.enq-navbar {
  border-radius: 0;
  border-left: 0;
  border-right: 0; }
  .enq-navbar .menu-title {
    white-space: nowrap; }
    .enq-navbar .menu-title > * {
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 450px; }
  .enq-navbar .menu-panel {
    white-space: nowrap; }
    .enq-navbar .menu-panel > * {
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 330px; }
  .enq-navbar-nav__left {
    margin-left: -15px; }
  .enq-navbar-nav > li {
    border-left: 1px solid #e7e7e7; }
    .enq-navbar-nav > li:last-child {
      border-right: 1px solid #e7e7e7; }

/* タブ */
.enq-tabs > ul {
  padding: 6px 5px 0 5px; }

/* ボタン */
.enq-button__page {
  background-color: #f9f3e0;
  border: 1px solid #f4d99a; }
  .enq-button__page:hover {
    background-color: #f9f3e0;
    border: 1px solid #f4d99a;
    box-shadow: 0 0 0 1px #f4d99a; }

.enq-button__branch {
  background-color: #e7e1f9;
  border: 1px solid #af9bff; }
  .enq-button__branch:hover {
    background-color: #e7e1f9;
    border: 1px solid #af9bff;
    box-shadow: 0 0 0 1px #af9bff; }

.enq-button__finisher {
  background-color: #e6f6d7;
  border: 1px solid #a0db8e; }
  .enq-button__finisher:hover {
    background-color: #e6f6d7;
    border: 1px solid #a0db8e;
    box-shadow: 0 0 0 1px #a0db8e; }

/* グラフ */
.enq-page {
  padding: 6px; }

.enq-item-controller {
  right: 6px;
  top: 6px;
  padding-right: 6px;
  padding-left: 6px; }

/* タイトル */
.enq-title {
  margin: 6px 0;
  padding: 5px; }
  .enq-title__page {
    background-color: #f9f3e0; }
  .enq-title__branch {
    background-color: #e7e1f9; }
    .enq-title__branch > label {
      margin-bottom: 0;
      font-weight: normal; }
  .enq-title__finisher {
    background-color: #e6f6d7; }

/* エディター */
.enq-editor-pane {
  height: calc(100% + 6px) !important; }

/* ValueEditorPart */
.value-editor-part {
  display: flex; }
  .value-editor-part > select:first-child {
    width: auto; }
  .value-editor-part > .react-numeric-input {
    width: 100%; }

.item-visibility-editor td.disabled {
  background-color: #eeeeee; }

.item-validation-popover.popover, .item-visibility-condition-popover.popover {
  max-width: 800px; }

.item-bulk-add-popover.popover {
  max-width: none; }

.item-bulk-add-editor {
  width: 800px;
  height: 400px; }

.individual-number-validation-popover {
  max-width: 800px;
  min-height: 200px; }
  .individual-number-validation-popover .validation-rule {
    display: table; }
    .individual-number-validation-popover .validation-rule .individual-number-validation {
      display: table-row; }
      .individual-number-validation-popover .validation-rule .individual-number-validation > * {
        display: table-cell; }

.survey-settings-modal .modal-dialog {
  width: 800px; }

.wide-tooltip .tooltip-inner {
  max-width: 600px; }

.text-left .tooltip-inner {
  text-align: left; }

.matrix-table-editor-part {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2; }
  .matrix-table-editor-part .matrix-table-editor-part__backdrop {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5; }
  .matrix-table-editor-part .mce-tinymce {
    position: fixed;
    width: calc(100% - 100px);
    height: calc(100vh - 100px);
    top: 50px;
    left: 50px; }
    .matrix-table-editor-part .mce-tinymce .mce-container-body {
      height: 100%; }
      .matrix-table-editor-part .mce-tinymce .mce-container-body .mce-edit-area {
        height: calc(100% - 37px - 37px); }
        .matrix-table-editor-part .mce-tinymce .mce-container-body .mce-edit-area > iframe {
          height: 100% !important;
          box-sizing: border-box;
          border: none;
          width: 100%;
          height: 100% !important; }

.help-tooltip {
  font-family: Consolas, 'Courier New', Courier, Monaco, monospace; }
  .help-tooltip table {
    border-collapse: collapse; }
    .help-tooltip table th, .help-tooltip table td {
      padding: 2px 4px;
      border: 1px solid #888; }

.detail-function {
  background-color: #426ef4;
  border: 1px solid #426ef4;
  border-radius: 20px;
  color: #fff;
  padding: 1px 7px;
  margin: 0 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 250px;
  overflow: hidden; }

.fixed-value {
  background-color: #009e14;
  border: 1px solid #009e14;
  border-radius: 20px;
  color: #fff;
  padding: 1px 7px;
  margin: 0 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 250px;
  overflow: hidden; }

.alert-value {
  background-color: #c11;
  border: 1px solid #c11;
  border-radius: 20px;
  color: #fff;
  padding: 1px 7px;
  margin: 0 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 250px;
  overflow: hidden; }

.answer-value {
  background-color: #fcc;
  border: 1px solid #f7024b;
  border-radius: 20px;
  color: #f7024b;
  padding: 1px 7px;
  margin: 0 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 250px;
  overflow: hidden; }

.validation-detail {
  background-color: #009e14;
  border: 1px solid #009e14;
  border-radius: 20px;
  color: #fff;
  padding: 1px 7px;
  margin: 0 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 250px;
  overflow: hidden; }

.number-validation-type {
  background-color: #009e14;
  border: 1px solid #009e14;
  border-radius: 20px;
  color: #fff;
  padding: 1px 7px;
  margin: 0 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 250px;
  overflow: hidden; }

html, body {
  height: auto;
  overflow: auto; }

#root .page-no {
  position: absolute;
  right: 0;
  top: 0;
  background: #f9f3e0;
  border-left: 1px solid gold;
  border-bottom: 1px solid gold;
  border-radius: 0 4px 0 4px;
  padding: 0 10px;
  z-index: 1; }

#root .branch-no {
  position: absolute;
  right: 0;
  top: 0;
  background: #e7e1f9;
  border-left: 1px solid purple;
  border-bottom: 1px solid purple;
  border-radius: 0 4px 0 4px;
  padding: 0 10px;
  z-index: 1; }

#root .finisher-no {
  position: absolute;
  right: 0;
  top: 0;
  background: #e6f6d7;
  border-left: 1px solid green;
  border-bottom: 1px solid green;
  border-radius: 0 4px 0 4px;
  padding: 0 10px;
  z-index: 1; }

#root #surveyBox {
  page-break-after: avoid; }

#root .questionsEditBox {
  margin-bottom: 10px;
  page-break-inside: avoid;
  page-break-after: always; }
  #root .questionsEditBox .questionBox {
    border-top: none;
    border-bottom: none; }

#root .question-form-list {
  position: relative;
  /** questionの動きを説明する */ }

#root .item-detail {
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid #08198e;
  border-bottom: 1px solid #08198e;
  background-color: #e5f0ff;
  border-radius: 0 12px 0 4px;
  padding: 0 10px; }
  #root .item-detail:empty {
    display: none; }

#root .question-detail, #root .survey-setting-detail {
  border: 1px solid #08198e;
  background-color: #e5f0ff;
  border-radius: 4px;
  padding: 0 10px;
  margin-top: 10px; }
  #root .question-detail > div, #root .survey-setting-detail > div {
    display: inline-block;
    margin-right: 5px;
    width: calc(50% - 5px); }
  #root .question-detail table, #root .survey-setting-detail table {
    width: 100%; }
    #root .question-detail table th, #root .survey-setting-detail table th {
      padding: 0 5px;
      border: 1px solid black;
      background-color: #b5c0ef; }
    #root .question-detail table td, #root .survey-setting-detail table td {
      padding: 0 5px;
      border: 1px solid black; }
      #root .question-detail table td.error, #root .survey-setting-detail table td.error {
        background-color: #c11;
        color: #fff; }
  #root .question-detail .number-validation, #root .survey-setting-detail .number-validation, #root .question-detail .item-visibilities, #root .survey-setting-detail .item-visibilities {
    width: 100%; }
    #root .question-detail .number-validation > div, #root .survey-setting-detail .number-validation > div, #root .question-detail .item-visibilities > div, #root .survey-setting-detail .item-visibilities > div {
      width: 100%; }

#root .survey-setting-detail {
  margin: 5px;
  padding-bottom: 10px; }

#root .page-detail {
  border: 1px solid green;
  background-color: #e6f6d7;
  border-radius: 4px;
  padding: 0 10px 10px;
  margin: 6px; }
  #root .page-detail:empty {
    display: none; }
  #root .page-detail .page-settings {
    display: flex; }
    #root .page-detail .page-settings > div {
      width: 50%;
      margin: 0 5px; }
  #root .page-detail table {
    width: 100%; }
    #root .page-detail table th, #root .page-detail table td {
      padding: 0 5px;
      border: 1px solid black; }

#root .matrix td, #root .matrix th {
  position: relative; }

#root .matrix .detail-shown {
  vertical-align: top;
  padding-top: 0; }
  #root .matrix .detail-shown .detail {
    white-space: nowrap;
    margin-bottom: 5px; }
    #root .matrix .detail-shown .detail:empty {
      display: none; }

#root .question-form-list .detail-shown {
  padding-top: 25px; }
  #root .question-form-list .detail-shown .question-form-list-input {
    position: relative;
    left: -28px; }
  #root .question-form-list .detail-shown > span {
    position: relative;
    left: -14px; }

#root .detail-mode .branch-editor {
  line-height: 1; }
  #root .detail-mode .branch-editor span {
    padding: 1px 7px; }

#root .output-no {
  background-color: #312;
  border: 1px solid #756;
  border-radius: 20px;
  color: #fff;
  padding: 1px 7px;
  margin: 0 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 250px;
  overflow: hidden; }

#root .dev-id {
  background-color: #aaa;
  border: 1px solid #ccc;
  border-radius: 20px;
  color: #fff;
  padding: 1px 7px;
  margin: 0 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 250px;
  overflow: hidden;
  border-radius: 2px;
  padding: 2px 4px;
  font-size: 10px;
  font-weight: normal; }

@media print {
  #surveyBox, .questionsEditBox {
    width: 750px !important; } }

/*# sourceMappingURL=detail.css.map*/