$left_pane_size: 400px;
$hot_pane_height: 442px;
html, body {
  height: 100%;
  overflow: hidden;
}
#root {
  width: 100%;
  height: 100%;
  > div {
    height: 100%;
    div.left {
      box-sizing: border-box;
      height: 100%;
      .graph {
        height: 100%;
        width: 100%;
        position: relative;
        .graph-controller {
          position: absolute;
          z-index: 100;
          right: 5px;
          top: 5px;
          input[type="file"] {
            display: none;
          }
        }
        &.connect-mode {
          background-color: #eef;
        }
      }
    }
    div.right {
      height: 100%;
      .hot-pane {
        box-sizing: border-box;
        height: $hot_pane_height;
      }
      .preview-pane {
        height: calc(100% - #{$hot_pane_height});
        iframe {
          box-sizing: border-box;
          border: none;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
.SplitPane.vertical {
  .Pane.vertical {
    height: 100%;
  }
}
.Resizer {
  background: #000;
  opacity: .2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  &:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
  }

  &.horizontal {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
    &:hover {
      border-top: 5px solid rgba(0, 0, 0, 0.5);
      border-bottom: 5px solid rgba(0, 0, 0, 0.5);
    }
  }

  &.vertical {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
    height: 100%;
    &:hover {
      border-left: 5px solid rgba(0, 0, 0, 0.5);
      border-right: 5px solid rgba(0, 0, 0, 0.5);
    }
  }
}
